{% extends "shop/base.html" %}
{% block title %}フリマサイト | ログイン{% endblock title %}
{% load bootstrap4 %}
{% block content %}
<form action="{% url 'login' %}" method="POST">
    {% bootstrap_form form %}
        <button type="submit" class="btn btn-success btn-block">ログイン</button>
        <input type="hidden" name="next" value="{{ next }}"/>
        {% csrf_token %}
</form>
<a href="{% url 'shop:top' %}" method="post" class="btn btn-secondary btn-block">トップページ</a>
<a href="{% url 'shop:passwordResetForm' %}">パスワードをお忘れですか?</a>
{% endblock %}